@import "tailwindcss";

@theme {
  --color-danuri-600: oklch(0.5309 0.2256 260.73);
  --color-danuri-500: oklch(0.5635 0.2408 260.82);
  --color-danuri-400: oklch(0.6966 0.1633 252.72);
  --color-danuri-200: oklch(0.9023 0.0492 250.25);
  --color-danuri-100: oklch(0.9846 0.0017 247.84);
  --color-danuri-text: oklch(0.5693 0 0);
}

*:not(input):not(textarea):not([contenteditable]) {
  font-family: "Pretendard", sans-serif;
  user-select: none;
}
